<% layout("/layouts/boilerplate") %>
        <div class="hero">
            <div class="left">
                <button class="explore-btn">Explore to Word <i class="fa-solid fa-bag-shopping" style="margin-left: 10px;"></i></button>
                <h1>Travel <span>Top <br>Destination</span> <br> of the world.</h1>
                <p>We always make our customer happy by providing <br> as many choices as possible </p>
                <div class="cta">
                    <form action="/upload" method="get">
                        <button id="cta">Upload Pic</button>
                    </form>
                    <form action="/show" method="get">
                        <button id="cta" style="background-color: transparent; color: black; border: 1px solid rgb(185, 181, 181);">Watch Memories</button>
                    </form>
                </div>
            </div>
            <div class="right">
                <div class="layer-container">
                    <img src="./assets/layer.png" alt="layer image" class="layer-image">
                    <div class="images">
                        <img src="./assets/Rectangle 1.png" alt="">
                        <img src="./assets/Rectangle 2.png"  >
                        <img src="./assets/Rectangle 3.png" alt="">
                    </div>
                </div>
            </div>
            
        </div>