<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>journey Pic</title>

    <link rel="stylesheet" href="./css/style.css">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="main">

        <nav>
            <div class="logo">
                <img src="./assets/Vector.png" alt="" srcset="">
                <h2>Travlog</h2>
            </div>
            <div id="menus" class="menus">
                <p style="color: black; font-weight: 500;">Home</p>
                <p>Discover</p>
                <p>Special</p>
                <p>Contact</p>

                <i class="fa-solid fa-x" id="close" onclick="toggleMenu()"></i>
            </div>
            <div class="singup">
                <button class="button" style="background-color:transparent; color:black">Log in</button>
                <button class="button" >Sing up</button>
            </div>
            <div class="hamburger">
                <i class="fa-solid fa-bars" onclick="toggleMenu()"></i>
            </div>
        </nav>

        <div class="hero">
            <div class="left">
                <button class="explore-btn">Explore to Word <i class="fa-solid fa-bag-shopping" style="margin-left: 10px;"></i></button>
                <h1>Travel <span>Top <br>Destination</span> <br> of the world.</h1>
                <p>We always make our customer happy by providing <br> as many choices as possible </p>
                <div class="cta">
                    <button id="cta">Upload Pic</button>
                    <button id="cta" style="background-color: transparent; color: black; border: 1px solid rgb(185, 181, 181);">Watch Memories</button>
                </div>
            </div>
            <div class="right">
                <div class="layer-container">
                    <img src="./assets/layer.png" alt="layer image" class="layer-image">
                    <div class="images">
                        <img src="./assets/Rectangle 1.png" alt="">
                        <img src="./assets/Rectangle 2.png"  >
                        <img src="./assets/Rectangle 3.png" alt="">
                    </div>
                </div>
            </div>
            
        </div>


    </div>

    <script>
        let menuList = document.getElementById("menus")
        menuList.style.maxHeight = "0px";

        function toggleMenu(){
            if(menuList.style.maxHeight == "0px")
            {
                menuList.style.maxHeight = "300px";
            }
            else{
                menuList.style.maxHeight = "0px";
            }
        }   
    </script>
</body>
</html>