<% layout("/layouts/boilerplate") %>

<style>
    .hero {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #map {
        width: 80%;
        height: 500px;
        border: 1px solid #ccc;
        margin-top: 20px;
    }
</style>

<div class="hero">
    <h1>Your Uploaded Images</h1>
    <div id="map"></div>
    
   
</div>

<script>
function initMap() {
    const location = { lat: 20.5937, lng: 78.9629 };

    const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 5,
        center: location,
    });

    const images = <%- JSON.stringify(images) %>;

    const markers = {};

    images.forEach(image => {
        const key = `${image.coordinates.coordinates[1]},${image.coordinates.coordinates[0]}`;
        if (!markers[key]) {
            markers[key] = {
                position: {
                    lat: image.coordinates.coordinates[1],
                    lng: image.coordinates.coordinates[0],
                },
                images: [],
            };
        }
        markers[key].images.push(image);
    });

    Object.values(markers).forEach(markerData => {
        const marker = new google.maps.Marker({
            position: markerData.position,
            map: map,
        });

        const infoWindowContent = markerData.images.map(img => `
            <div style="margin-bottom: 10px;">
                <img src="${img.imageUrl}" alt="Image" width="100">
                <p>${img.location}</p>
            </div>
        `).join("");

        const infoWindow = new google.maps.InfoWindow({
            content: infoWindowContent,
        });

        marker.addListener("click", () => {
            infoWindow.open(map, marker);
        });
    });
}

</script>
  
  <!-- Load the Google Maps API -->
  <script 
    src="https://maps.gomaps.pro/maps/api/js?key=AlzaSypPa2taNDPLXweDnQ3Fn9C5cKTM2bkbxKh&callback=initMap" 
    async 
    defer>
  </script>
