<% layout("/layouts/boilerplate") %>
<body>
    <h2>Hello</h2>

    <!-- <form method="get" action="/listings/new">
        <button>
            Create A New Listing
        </button>
    </form> -->
    
    <ul>
        <% for(let listings of allListings) { %>
            <li><a href="/listings/<%=listings._id %>"> <%= listings.title %></a></li>
            <li><a href="/listings/<%=listings._id %>"> <%= listings.title %></a></li>
        <% } %>
    </ul>
</body>