<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h2>New Listings</h2>
            <form method="post" action="/listings/new" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" type="text" placeholder="Enter A Title" class="form-control" required>
                    <div class="invalid-feedback">
                        Please Enter A Title.
                    </div>
                    <div class="valid-feedback">
                        Title looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" placeholder="Enter Description" required></textarea>
                    <div class="invalid-feedback">
                        Please Enter A Description.
                    </div>
                    <div class="valid-feedback">
                        Valid Description.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image URL</label>
                    <input name="listing[image]" type="text" placeholder="Enter Image URL" class="form-control">
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" type="number" placeholder="Enter Price" class="form-control" required>
                        <div class="invalid-feedback">
                            Please Enter A Price.
                        </div>
                        <div class="valid-feedback">
                            Valid Price.
                        </div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input name="listing[location]" type="text" placeholder="Enter Location" class="form-control" required>
                        <div class="invalid-feedback">
                            Please Enter A Location.
                        </div>
                        <div class="valid-feedback">
                            Valid Location.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" type="text" placeholder="Enter Country" class="form-control" required>
                    <div class="invalid-feedback">
                        Please Enter A Country.
                    </div>
                    <div class="valid-feedback">
                        Valid Country.
                    </div>
                </div>

                <button class="btn btn-dark" type="submit">Add Listing</button>
            </form>
        </div>
    </div>

    <!-- JavaScript validation handler -->
    <script src="/js/script.js"></script>
</body>
